html, body{
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

body{
	background-image: url("pw_maze_black.png");
}

h1{
	margin: 0px;
	padding: 15px;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
}

#title{
	font-weight: bold;
	padding-top: 50px;
    animation-name: togreen;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#sub {
	padding: 0;
    margin: auto;
    margin-top: -5px;
    text-align: center;
    font-size: 18px;
}

a{
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: rgb(0,140,0);
}

button{
	margin: auto;
	display: block;
}

#Canvas{
	padding: 0;
    margin: auto;
    margin-top: 40px;
	display: block;
	border-radius: 7px;
	-webkit-box-shadow: inset 0px 0px 17px 4px rgba(0,0,0,0.44);
	-moz-box-shadow: inset 0px 0px 17px 4px rgba(0,0,0,0.44);
	box-shadow: inset 0px 0px 17px 4px rgba(0,0,0,0.44);
}

#toggleFast{
	margin-top: 20px;
}

@keyframes togreen {
    0% {color: rgb(0,80,0);}
    50% {color: rgb(0,255,0);}
    100% {color: rgb(0,80,0);}
}

.btn {
  background: #34d976;
  background-image: -webkit-linear-gradient(top, #34d976, #2bb834);
  background-image: -moz-linear-gradient(top, #34d976, #2bb834);
  background-image: -ms-linear-gradient(top, #34d976, #2bb834);
  background-image: -o-linear-gradient(top, #34d976, #2bb834);
  background-image: linear-gradient(to bottom, #34d976, #2bb834);
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: 'Josefin Sans', sans-serif;
  color: #000;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
}

.btn:hover {
  background: #2feb80;
  background-image: -webkit-linear-gradient(top, #2feb80, #34d955);
  background-image: -moz-linear-gradient(top, #2feb80, #34d955);
  background-image: -ms-linear-gradient(top, #2feb80, #34d955);
  background-image: -o-linear-gradient(top, #2feb80, #34d955);
  background-image: linear-gradient(to bottom, #2feb80, #34d955);
  text-decoration: none;
}